<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice IoPayInputGroup">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 16 16" style="enable-background:new 0 0 16 16; width: 20px; margin-bottom: -4px" xml:space="preserve" >
                                        <style type="text/css">
                                            .st2{fill:#BC5797;}
                                        </style>
                <path class="st2" d="M1.5,1C1.2,1,1,1.2,1,1.5v3C1,4.8,0.8,5,0.5,5S0,4.8,0,4.5v-3C0,0.7,0.7,0,1.5,0h3C4.8,0,5,0.2,5,0.5
                                        S4.8,1,4.5,1H1.5z M11,0.5C11,0.2,11.2,0,11.5,0h3C15.3,0,16,0.7,16,1.5v3C16,4.8,15.8,5,15.5,5S15,4.8,15,4.5v-3
                                        C15,1.2,14.8,1,14.5,1h-3C11.2,1,11,0.8,11,0.5z M0.5,11C0.8,11,1,11.2,1,11.5v3C1,14.8,1.2,15,1.5,15h3C4.8,15,5,15.2,5,15.5
                                        S4.8,16,4.5,16h-3C0.7,16,0,15.3,0,14.5l0,0v-3C0,11.2,0.2,11,0.5,11z M15.5,11c0.3,0,0.5,0.2,0.5,0.5v3c0,0.8-0.7,1.5-1.5,1.5l0,0
                                        h-3c-0.3,0-0.5-0.2-0.5-0.5s0.2-0.5,0.5-0.5h3c0.3,0,0.5-0.2,0.5-0.5v-3C15,11.2,15.2,11,15.5,11z M3,4.5C3,4.2,3.2,4,3.5,4
                                        S4,4.2,4,4.5v7C4,11.8,3.8,12,3.5,12S3,11.8,3,11.5V4.5z M5,4.5C5,4.2,5.2,4,5.5,4S6,4.2,6,4.5v7C6,11.8,5.8,12,5.5,12
                                        S5,11.8,5,11.5V4.5z M7,4.5C7,4.2,7.2,4,7.5,4S8,4.2,8,4.5v7C8,11.8,7.8,12,7.5,12S7,11.8,7,11.5V4.5z M9,4.5C9,4.2,9.2,4,9.5,4h1
                                        C10.8,4,11,4.2,11,4.5v7c0,0.3-0.2,0.5-0.5,0.5h-1C9.2,12,9,11.8,9,11.5V4.5z M12,4.5C12,4.2,12.2,4,12.5,4S13,4.2,13,4.5v7
                                        c0,0.3-0.2,0.5-0.5,0.5S12,11.8,12,11.5V4.5z"/>
                                    </svg>
            &nbsp;
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <p class="iopay_instructions" data-bind="html: getInstructions()"></p>

        <div class="iopay_security_message">
            <div class="">
                <a href="https://iopay.com.br" target="_blank" alt="IOPAY" title="IOPAY">
                    <img src="https://checkout.iopay.com.br/checkout/assets/img/iopay.png" width="60">
                </a>
            </div>
            <div class="iopay_security_message2">
                Essa transação é processada com tecnologias de pagamento da IOPAY.
                <br/>
                <svg xmlns="http://www.w3.org/2000/svg" width='11' height='11' viewBox="0 0 448 512"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M80 192V144C80 64.47 144.5 0 224 0C303.5 0 368 64.47 368 144V192H384C419.3 192 448 220.7 448 256V448C448 483.3 419.3 512 384 512H64C28.65 512 0 483.3 0 448V256C0 220.7 28.65 192 64 192H80zM144 192H304V144C304 99.82 268.2 64 224 64C179.8 64 144 99.82 144 144V192z"/></svg> Esta é uma conexão segura e os seus dados são protegidos com criptografia de ponta a ponta.
            </div>
        </div>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
